Source: wireshark
Section: net
Priority: optional
Maintainer: Balint Reczey <balint@balintreczey.hu>
Uploaders: Joost Yervante Damad <andete@debian.org>
DM-Upload-Allowed: yes
Standards-Version: 3.8.4
Build-Depends: libgtk2.0-dev (>=2.4.0-0), libpcap0.8-dev, flex, libz-dev, debhelper (>= 6), po-debconf, libtool, python, python-ply, automake1.9, autoconf, autotools-dev, libc-ares-dev, xsltproc, docbook-xsl (>= 1.64.1.0-0), libpcre3-dev, libcap2-dev [!kfreebsd-i386 !kfreebsd-amd64 !hurd-i386] | libcap-dev (>= 2.17) [!kfreebsd-i386 !kfreebsd-amd64 !hurd-i386], bison, libgnutls-dev, python-support (>= 0.3), portaudio19-dev, libkrb5-dev, liblua5.1-0-dev, libsmi2-dev, libgeoip-dev, hardening-wrapper
Build-Conflicts: libsnmp4.2-dev, libsnmp-dev
XS-Python-Version: all
Homepage: http://www.wireshark.org/

Package: wireshark-common
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, debconf, libcap2-bin [!kfreebsd-i386 !kfreebsd-amd64 !hurd-i386]
Recommends: wireshark (>= ${binary:Version}) | tshark (>= ${binary:Version})
Suggests: snmp-mibs-downloader
Replaces: ethereal-common (<< 1.0.0-3)
Conflicts: ethereal-common (<< 1.0.0-3)
Description: network traffic analyzer - common files
 Wireshark is a network "sniffer" - a tool that captures and analyzes
 packets off the wire. Wireshark can decode too many protocols to list
 here.
 .
 This package provides files common to both wireshark (the GTK+ version)
 and tshark (the console version).

Package: wireshark
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, wireshark-common (= ${binary:Version})
Replaces: ethereal (<< 1.0.0-3)
Conflicts: ethereal (<< 1.0.0-3)
Description: network traffic analyzer - GTK+ version
 Wireshark is a network "sniffer" - a tool that captures and analyzes
 packets off the wire. Wireshark can decode too many protocols to list
 here.
 .
 This package provides the GTK+ version of wireshark.

Package: tshark
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, wireshark-common (= ${binary:Version})
Replaces: tethereal (<< 1.0.0-3)
Conflicts: tethereal (<< 1.0.0-3)
Description: network traffic analyzer - console version
 Wireshark is a network "sniffer" - a tool that captures and analyzes
 packets off the wire. Wireshark can decode too many protocols to list
 here.
 .
 This package provides the console version of wireshark, named
 "tshark".

Package: wireshark-dev
Architecture: any
Section: devel
Depends: ${shlibs:Depends}, ${misc:Depends}, omniidl4 (>= 4.0.1-2), libpcap0.8-dev, libtool, libglib2.0-dev, ${python:Depends}, python-ply, snacc, autotools-dev, debhelper, cdbs, automake1.9, autoconf
Replaces: ethereal-dev (<< 1.0.0-3)
Conflicts: ethereal-dev (<< 1.0.0-3)
XB-Python-Version: ${python:Versions}
Description: network traffic analyzer - development tools
 Wireshark is a network "sniffer" - a tool that captures and analyzes
 packets off the wire. Wireshark can decode too many protocols to list
 here.
 .
 This package provides idl2wrs and other files necessary for developing
 new packet dissectors.

Package: wireshark-dbg
Priority: extra
Architecture: any
Section: debug
Depends:  ${misc:Depends}, wireshark-common (= ${binary:Version}) | wireshark (= ${binary:Version}) | tshark (= ${binary:Version})
Description: network traffic analyzer - debug symbols
 Wireshark is a network "sniffer" - a tool that captures and analyzes
 packets off the wire. Wireshark can decode too many protocols to list
 here.
 .
 This package contains stripped debugging symbols for all Wireshark
 programs and libraries.

Package: libwireshark0
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Conflicts: wireshark-common (<= 1.2.7-1)
Replaces: wireshark-common (<= 1.2.7-1)
Description: a network packet dissection library -- shared library
 The "libwireshark" library provides network packet dissection services and
 is at the core of the Wireshark project. The "wireshark" and "tshark"
 applications, which are part of the Wireshark project, make use of the
 services offered by this library.
 .
 This package provides the "libwireshark" library, which can be
 used by applications other than "wireshark" and "tshark" to take
 advantage of the sophisticated network packet dissection capabilities
 developed by the Wireshark project.

Package: libwireshark-dev
Section: libdevel
Depends: ${shlibs:Depends}, libwireshark0 (= ${binary:Version})
Conflicts: wireshark-dev (<= 1.2.7-1)
Replaces: wireshark-dev (<= 1.2.7-1)
Architecture: any
Description: a network packet dissection library -- development files
 The "libwireshark" library provides network packet dissection services and
 is at the core of the Wireshark project. The "wireshark" and "tshark"
 applications, which are part of the Wireshark project, make use of the
 services offered by this library, although the library may be used by
 applications not affiliated with the Wireshark project.
 .
 This package contains the static library and the C header files that are
 needed for application to use libwireshark services.

Package: libwiretap0
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Conflicts: wireshark-common (<= 1.2.7-1)
Description: a network packet capture library -- shared library
 Wiretap, part of the Wireshark project, is a library similar to libpcap,
 the current standard Unix library for packet capturing, that attempts
 to address some of libpcap's shortcomings. Some of Wiretap's features
 include:
 .
   * The library can easily be amended with new packet filtering objects.
     libpcap is very TCP/IP-oriented. The objective is to be able to
     filter on IPX objects, SNA objects, etc. as well as allowing any decent
     programmer to be able to add new filters to the library.
 .
   * The library can read file formats from many packet-capturing utilities.
     libpcap only reads pcap files.
 .
   * Network names can be resolved immediately after a trace and saved in
     the trace file.
 .
 Wiretap's shortcomings are: no filter capability and no support for packet
 capture.
 .
 This package provides the "libwiretap" library, which can be
 used by applications other than "wireshark" and "tshark" to get access
 to more packet capture file formats than the pcap format offered
 by libpcap.

Package: libwiretap-dev
Section: libdevel
Depends: ${shlibs:Depends}, libwiretap0 (= ${binary:Version})
Conflicts: wireshark-dev (<= 1.2.7-1)
Replaces: wireshark-dev (<= 1.2.7-1)
Architecture: any
Description: a network packet capture library -- development files
 Wiretap, part of the Wireshark project, is a library similar to libpcap,
 the current standard Unix library for packet capturing, that attempts
 to address some of libpcap's shortcomings. Some of Wiretap's features
 include:
 .
   * The library can easily be amended with new packet filtering objects.
     libpcap is very TCP/IP-oriented. The objective is to be able to
     filter on IPX objects, SNA objects, etc. as well as allowing any decent
     programmer to be able to add new filters to the library.
 .
   * The library can read file formats from many packet-capturing utilities.
     libpcap only reads pcap files.
 .
   * Network names can be resolved immediately after a trace and saved in
     the trace file.
 .
 Wiretap's shortcomings are: no filter capability and no support for packet
 capture.
 .
 This package contains the static library and the C header files.
